.post{
    margin: 20px auto;
    width: 50%;
    transition: background-color .4s, height .4s;
}

.post:hover{
    background-color: #DFDFDF;
}

.post .header{
    padding: 10px;
    display: inline-flex;
}

.post .header .info{
    margin: auto 0;
}

.post .header .info .author{
    font-size: 20px;
    font-weight: 400;
}

.post .header .info .date{
    font-size: 16px;
    font-weight: 300;
}

.post .header img{
    width: 70px;
    height: 70px;
    border-radius: 80px;
    margin-right: 20px;
}

.post .body{
    font-weight: 300;
    font-size: 18px;
    padding: 10px 20px;
}

.post .body div{
    padding: 3px;
    text-align: justify;
    word-break: break-word;
}

.post .comments{
    padding: 0 20px 20px 30px;
}

.post .comments .comment .header {
    padding: 10px;
    display: inline-flex;
}

.post .comments .comment .header .info{
    margin: auto 0;
}

.post .comments .comment .header .info .author{
    font-size: 18px;
    font-weight: 400;
}

.post .comments .comment .header .date {
    font-size: 14px;
    font-weight: 300;
}

.post .comments .comment .header img{
    width: 60px;
    height: 60px;
    border-radius: 80px;
    margin-right: 20px;
}

.post .comments .comment .body{
    font-weight: 300;
    font-size: 18px;
    padding: 0 20px;
}

.post .comments .comment .body div{
    padding: 3px;
    text-align: justify;
    word-break: break-word;
}